<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Welcome</title>
</head>


<body>


    
    <h1>Welcome {{ session['user_id'] }}!</h1>
    <form class="form-group" action="/destroy" method="POST">
        <input type="hidden" name="formType" value="logout">
        <input type="submit" value="Log Out!">
    </form>
    <a href="/users">Users</a>

    <hr>
    
    <div class="wrapper container">
    
        <form class="form-group" action="/tweets/create" method="POST">
    
            <h3>Write a Tweet:</h3>
            <textarea name="tweet" cols="30" rows="10" placeholder="tweet"></textarea>
    
            <input type="hidden" name="formType" value="createTweet">
            <input class="btn btn-primary" type="submit" value="Tweet">
        </form>


        <!-- display tweet validation flashes here -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- list of tweets here -->
        <h2>Your Feed:</h2>

        <ul>
            {% for tweet in tweetList|reverse %}
                <li>
                    <h4>{{tweet.created_at}}</h4>
                    <p>{{tweet['tweet']}}</p>
                    <form class="form-group" action="/tweets/{{tweet['id']}}/like" method="POST">
                        <input type="hidden" name='like' value={{tweet['id']}}>
                        <input type="submit" value="Like" name='likeTweet' class="btn btn-success">
                    </form>
                    <form class="form-group" action="/tweets/{{tweet['id']}}/edit" method="POST">
                        <input type="hidden" name="edit" value={{tweet['id']}}>
                        <input type="submit" value="Edit" name='editTweet' class="btn btn-warning">
                    </form>
                    <form class="form-group" action="/tweets/{{tweet['id']}}/delete" method="POST">
                        <input type="hidden" name="delete" value={{tweet['id']}}>
                        <input type="submit" value="Delete" name='deleteTweet' class="btn btn-danger">
                    </form>
                    
                </li>
    
            {% endfor %}
        </ul>



    </div>
    








    
</body>
</html>